{% extends "layouts/base.twig" %}

{% block content %}
  <div class="roadmap-archive">
    <h1>Roadmap</h1>
    
    {% for post in posts %}
      {% include "partials/roadmap-item.twig" %}
    {% endfor %}
  </div>
{% endblock %}
