<div class="testimonials-grid">
  {% if content %}
    <div class="content">
      {% if content.heading %}
        <h2>{{ content.heading }}</h2>
      {% endif %}
      
      {% if content.description %}
        <p>{{ content.description }}</p>
      {% endif %}
    </div>
  {% endif %}
</div>
